<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="page-header">
  <h1>TWITCHRAIDS<small> Watch random streams together</small><a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm on @TwitchRaids checking out a different twitch stream every 5 minutes with others." data-size="large" data-hashtags="twitchraids">Tweet</a><div class="fb-like" data-href="http://www.twitchraids.com" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>  
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</div>
</div>